/**********
RESPONSIVE RULES 
  <768 = phones
 >=768 = tablets
 >=992 = desktop
>=1200 = large desktops
*/

main {max-width:1850px;}

#roster {margin-top:40px;}

body {background:#000;margin:0;font-family:'Open Sans',arial,helvetica,sans-serif;}
header {text-align:center;background:url('../img/football-skin.png') left top repeat;padding-top:15px;}
h1 {margin:0;}
h3 {margin:0 0 15px;text-transform:uppercase;font-size:2em;font-family: 'Squada One', arial, helvetica, sans-serif;}

.no-bottom-padding{padding-bottom:0 !important;}
.no-padding {padding:0 !important;}

.rounded-container {border-radius:10px;background:#fff;padding-top:25px;padding-bottom:25px;margin-top:10px;margin-bottom:10px;}
.rounded-inner {padding:0 10px;}

.form-control {margin:10px 0;}
button {background:#e48a02;border:none;border-radius:10px;color:#fff;padding:5px 40px;width:100%;font-family: 'Permanent Marker', arial, helvetica, sans-serif;font-size:2.5em;}
button {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.45);
}

#draft-logo {max-height:150px;}

#draft-timer {line-height:1em;}
#draft-clock {color:#fff;text-align:center;font-size:2.5em;padding:15px 0;font-weight:700;font-family: 'Squada One', arial, helvetica, sans-serif}
#draft-timer {font-size:4em;}
#draft-clock-team {padding-top:20px;}
#draft-clock-team span {font-size:1.3em;}
#draft-clock-team strong {display:block;text-transform:uppercase;}

.team-logo {float:left;margin-right:10px;display:block;min-width:55px;min-height:51px;background:#eee;}

.team-logo-wrapper .team-logo {margin-right:0;float:right;}
.team-logo-wrapper {max-width:55px;}

#team-bio {margin-top:5px;}
#team-bio p {font-style:italic;margin-bottom:10px;font-size:0.9em;}

.player {margin-bottom:25px}

.player div.player-price {float:right;font-size:1.3em;}
.player div.player-summary {font-size:1.3em;float:left;}
.player .player-owner {clear:both;background:#ddd;padding:5px;border-radius:5px;display:block;font-size:0.8em;margin-top:5px;font-weight:700;}

.player .player-info {float:left;}

.player-featured {font-size:2.1em;}
.player-featured .player-summary {clear:both;font-size:1.8em;}

.player-position, .player-team-abbr {text-transform:uppercase;font-weight:700;}

#team-owner {display:block;font-size:1.3em;margin-bottom:10px;border-bottom:1px dashed #000;font-family:"Permanent Marker", arial, helvetica, sans-serif;}
#team-avatar-container {padding:0;max-width:119px;}

#team-summary {padding-top:5px;}
#team-summary strong {font-weight:700;}
#team-summary span {display:block;font-size:1.4em;}
#team-summary #team-record {font-size:0.8em;margin-top:10px;}

@media (min-width:768px){
	.rounded-inner {padding:0 10px;}
}

@media (min-width:992px){
	.player-featured {padding-top:20px;}
	/*.player-minimal {padding-right:40px}*/

	.no-left-padding{padding-left:0 !important;}
	.no-right-padding{padding-right:0 !important;}

	#team-summary {padding-top:15px;}

	#team-bio {margin-top:15px;}
}

@media (min-width: 1200px){
	main {background:url('../img/green-carbon-fiber-tiled.png') left top no-repeat;margin:0 auto;} /*width:1170px;*/
	#main-inner {background:url('../img/shadow.png') left top no-repeat;min-height:975px;}

	#right-column {margin-top:53px;}
} 

@media (max-width:768px){
	.rounded-inner .col-sm-6, .rounded-inner .col-xs-12 {padding:0;}
	.player-featured .player-summary {font-size:1.2em;}

	#team-summary #team-cap-used, #team-summary #team-cap-remaining, #team-summary #team-cap-separator {display:inline;}
}

@media (max-width: 992px){
	
	#draft-clock {padding:5px 0;}
	#draft-clock-team {padding-top:5px;}

	button {margin-bottom:50px;}

	.player-featured .player-summary {clear:none;padding-left:0;line-height:50px;}

	#team-bio {padding-top:10px;}
}

@media (max-width: 1200px){
	.player-featured .player-summary {padding-left:0;}
}


