.panel {
	background-color: 	#000 !important;
	color: 				#FFF !important;
}
.playlist div {
	padding: 	20px;
}
.playlist div p {
	padding: 		5px;
	font-weight:	bold;
	font-size: 		12pt;
	color: 			#FFF !important;
}
.video-js {
	margin-bottom: 	10px;
}


.video5 .views {
	color: 			#EEE;
	font-size: 		9pt;
}
.video5 .media-block {
    padding: 		30px;
    border: 		1px solid #bf2f37;
}
.video5 .video-title {
    color: #FFF;
    line-height: 1.4;
    font-family: sans-serif;
}
.video5 .bigger {
    font-size: 1.6em;
}
.video5 .video-description {
    color: gray;
    line-height: 1.4;
    font-family: sans-serif;
    font-size: .9em;
}
.video5 .video-player {
    border: 		1px solid #bf2f37;
}