#sidebar #magazine ul {padding:0 0 0 10px;margin-top:10px;}
#sidebar #magazine li {font-weight:700;font-family:"Source Sans Pro", Arial,Helvetica,sans-serif;margin-bottom:4px;}
#sidebar #magazine li a {color:#000;font-size:13px;}