#zergnet-widget-25075 .zergentity img { margin-top:-10% !important; height: auto !important; width: auto !important; max-width: 100% !important }
#zergnet-widget-25075 .zergheadline a{ height:auto; margin-top:12px !important; }
#zergnet-widget-25075 .zergentity {width:23% !important}
#zergnet-widget-25075 #zerglayout { width: 100% !important }
#zergnet-widget-25075 .zergentity {margin-bottom:15px !important;}
#zergnet-widget-25075 .zergheadline {
text-align: left !important;
width: 100% !important;
}



#zergnet-widget-25075 .zergentity:nth-of-type(1) {margin-left:0px !important; margin-right:1% !important;}
#zergnet-widget-25075 .zergentity:nth-of-type(2) {margin-left:1% !important; margin-right:1% !important;}
#zergnet-widget-25075 .zergentity:nth-of-type(3) {margin-left:1% !important; margin-right:1% !important;}
#zergnet-widget-25075 .zergentity:nth-of-type(4) {margin-left:1% !important; margin-right:0px !important;}

@media (max-width: 680px) {
#zergnet-widget-25075 .zergheadline a {font-size:14px !important;}
}

@media (max-width: 520px) {
#zergnet-widget-25075 .zergentity { width:47% !important; margin-left:1% !important;margin-right:1% !important; }
#zergnet-widget-25075 .zergentity:nth-of-type(3) { clear:both !important; } 
}

.zergnet-headline {
	font-size:1.6em; 
	font-family:Roboto Slab, serif; 
	color:#222222; 
	margin-bottom:15px;
	font-weight:bold;
}