
.atoz a {
	text-decoration: none;
    color: #000;
    outline: none !important;
    font-size: 1em;
    line-height: 1.4;
    padding-bottom: 2px;
    font-family: sans-serif;
}

.atoz a:hover {
	text-decoration: underline;
	color: blue;
}