#author {
	font-size: 10pt !important;
    line-height: 1.2;
    font-family: "Source Sans Pro", Arial, sans-serif, Arial;
}
#author img {
	max-height: 	50px;
	min-height: 	50px;
	border: 1px solid #000;
    margin: 5px;
}