body {
	background-color: 	black;
}

hr { 
	border-bottom: 		1px dashed #148bcc;
}
.green {
	color: 	green;
}
.bold {
	font-weight:bold;
}
.stack-red {
	color: 		#bf2f37;
}
.btn-stack {
	color: 				#FFF;
	font-weight: 		bold;
	background-image: 	linear-gradient(to bottom,#bf2f37 0,#bf2f37 100%);
}
.right {
	text-align: 		right;
}

.logo-nolinks {
	padding: 		20px;	
}
.white {
	color: 	#FFF 	!important;
}
.navbar-margin {
	margin-left: 	20px !important;
	margin-bottom: 	20px !important;
}

/* Navbar */
.navbar-inverse {
	background-image: 	linear-gradient(to bottom,#000 0,#000 100%);
}
.navbar {
	border-bottom: 		1px solid #bf2f37;
}

a {cursor:pointer;}

/* Content */
.main {
	max-width: 			1024px;
}
.content {
	background: 		#FFFFFF;
	box-shadow: 		0 0 6px #404040;
}

.player {
	min-height:			400px;
	background-color: 	gray;
}
.promo {
	min-height:  		380px;
	background-color: 	gray;
}
.hero {
	min-height:  		380px;
	background-color: 	gray;
}

/* Sidebar */
#sidebar .widget {
	padding-bottom: 	0px;
}
/*
.adunit {
	min-height: 		250px;
	background-color: 	gray;
}
*/
.bottomleft {
	max-width: 			160px;
	min-height: 		600px;
	background-color: 	gray;
}
.social {
	min-height: 		100px;
	background-color: 	gray;
}
.vsp {
	min-height: 		200px;
	background-color: 	gray;	
}
.outbrain-sidebar {
	min-height: 		300px;
	background-color: 	gray;		
}

/* Helpers */
.headroom {
	padding-top: 		20px;
}
.legroom {
	padding-bottom: 	20px;
}
.spacer {
	min-height: 		20px;
}
.thumbnail {
	min-height: 		86px;
	background-color: 	gray;
}
.vbotton {
	vertical-align:  	bottom;
}
.small {
	font-size: 			small;
}
.views {
	font-size: 			75%;
	color: 				gray;
}
.clear {
    clear: 				both;
}
.video-widgets {
	min-height: 		230px;
	background-color: 	gray;
}
.center-txt {
	text-align:center;
}

.center-margins {
	margin-left:auto;margin-right:auto;
}
.xs-no-gutters {
	padding-left:0;padding-right:0;
}



.pinterest {
	background-color: 	gray;
	min-height: 		800px;
}
.dashed-bottom {
	border-bottom:1px dashed #000;
}


/* Footer */
.footer-title {
	font-weight: 		bold;
	color: 				#bf2f37;
	font-size: 			100%;
	padding-top: 		10px;
}
.footer-links {
	list-style-type: 	none;
	padding: 			0px;
	margin: 			0px;
	color: 				#FFF !important;
	font-size: 			110%;
}
.footer-links li a {
	color: #eee !important;
}


.hidden {
  display: none !important;
  visibility: hidden;
}

@media (min-width:768px){
	.sm-right-gutter {padding-right:15px;}
}

@media (min-width: 1200px) {
  .container {
    width: 1054px;
  }
}

.panel {border-radius:0px;}

#sidebar h3 {background:#A1A1A1;color:#fff;text-transform:uppercase;font-family:Oswald,Impact,Arial,Helvetica,sans-serif;font-size:20px;font-weight:400;padding:8px 10px;display:block;}

#sidebar .widget a {color: #20576e;display: block;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: underline;
    text-transform: capitalize;
}

#sidebar .widget a.loadmore {
	background-color: #000;
	display:block;
    color: #fff;
    font-family: "Oswald",Impact,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding:5px 0;
}

#sidebar .widget a.loadmore:hover {
	background:#148bcc;
}

#sidebar .thumbnail {padding:0;box-shadow:0 0 0 #fff;background:none;min-height:auto;}
#sidebar .thumbnail img {border:1px solid #000;}

.pad-right {padding-right:15px;}

article h1 {font-family:"Roboto Slab","Times New Roman", serif;font-size:48px;margin-top:0;}
article h2 {font-family:"Source Sans Pro",Arial,Helvetica,sans-serif;font-size:24px;font-weight:700;}

article time {font-size:12px;color:#404040;display:block;padding-bottom:3px;border-bottom:1px dashed #148bcc;}

article #article_content {margin-top:20px;}

.content-widgets .faux-headline {font-family:"Robot Slab", "Times New Roman", serif;font-size:26px;color:#222;}


#breadcrumb {font-family:"Source Sans Pro",Arial,Helvetica,sans-serif;font-size:14px;}
#breadcrumb a {color:#000;text-decoration:none;}

#sidebar #magazine ul {padding:0 0 0 10px;margin-top:10px;}
#sidebar #magazine li {font-weight:700;font-family:"Source Sans Pro", Arial,Helvetica,sans-serif;margin-bottom:4px;}
#sidebar #magazine li a {color:#000;font-size:13px;}


.bcove-outer-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* navbar */
#navbar li a {font-family:"Oswald",Impact,Arial,Helvetica,sans-serif;font-size:16px;}
#navbar > ul > li > a  {color:#fff;text-transform:uppercase;padding:0 8px;}

#navbar .menu-item-trainingcenters a {background:url('/assets/img/branding/logos/velocity-icon.png') 8px center no-repeat;padding-left:38px;}
.navbar-nav {clear:right;}

#toplinks {font-size:11px;font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;padding-bottom:5px;}
#toplinks a, #toplinks {color:#fff;}

.navtoggler:after {content:'+';}
.navtoggler:hover {text-decoration:underline;cursor:pointer;}

.navtogglee {display:none;}

.menu-inner {display:none;width:100%;}

.submenu .menu-preview {display:none;}
#menu-submenu-content {display:none;}

.navbar-brand {height:auto;padding:8px 15px;}
.navbar-header > a {display:block;}
.navbar-header > a > img {display:block;}

nav.navbar {margin-bottom:0;}

@media (min-width:751px) and (max-width:975px) {
	#navbar .menu-item-trainingcenters a {background:none;padding-left:8px;}
}

@media (min-width:768px) {
	#navbar {float:right;padding-top:3px;}
	#toplinks {padding-bottom:6px;}

	#navbar .submenu ul {background:#404040;min-height:250px;padding:12px 0 12px 0px;}
	#navbar .submenu ul > li {list-style-type:none;padding:3px 0 3px 24px;margin:0;}
	#navbar .submenu ul > li > a {color:#fff;display:block;}

	#navbar .submenu ul > li:hover {background:#eee;}
	#navbar .submenu ul > li:hover > a {color:#000;text-decoration:none;}

	#navbar .menu-main-content, #navbar .menu-submenu-content {padding-top:24px;padding-right:24px;}

	#navbar > ul > li > .menu-inner {background:#eee;border:1px solid #000;}

	.menu-item-guidedsearch a {text-indent:-99999px;display:block;background:url('/assets/img/search-icon.png') left top no-repeat;width:15px;height:24px;margin:0 0 0 8px;}

	header .container {z-index:20;position:relative;}

	#navbar > ul > li > .menu-inner {z-index:21;position:absolute;top:50px;left:0;width:100%;}

	#navbar > ul > li:hover > .menu-inner, #navbar > ul > li > .menu-inner:hover {display:block;}

	.nav > li {position:static;padding-bottom:6px;}

	.nav-post a, .nav-post span {display:block;}
	.nav-post img {max-height:126px;}
	.nav-post span {color:#000;font-weight:normal;margin-top:10px;font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;}
}

@media (max-width:768px) {
	#navbar {background:#404040;font-size:2em;}
	#navbar li {padding:6px 0;margin:0;}
	#navbar li a {font-size:24px;display:block;}
}

@media (max-width:975px) {
	.nav .menu-item-guidedsearch {display:none;}
}

.error {
	font-weight:	bold;
	color: 			red;
}

.gray {
	color: 	gray;
}
